.Order{
    width:100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    color: #888;
    background-color: white;
}
.Order span span{
    background-color: chocolate;
    font-size: 1em;
    margin: .3em;
    margin-bottom: .6em;
    display: inline-block;
    padding: .5em;
    color: white;
    text-transform: capitalize;
}
.Order span span i{
    font-weight: bold;
    font-style: normal;
}