.NavList{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavList a{
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavList a:hover,
.NavList a:active,
.NavList a.active{
   
    color: #40a4c8;
}

@media(min-width:500px){
    .NavList{
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    .NavList a{
        color: white;
        height: 100%;
        padding: 19px 10px;
        border-bottom: 4px solid transparent;
     
    }
    
    .NavList a:hover,
    .NavList a:active,
    .NavList a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: white;
    }
}